repos:
  - repo: local
    hooks:

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.32.0
    hooks:
      - id: eslint
        types: [javascript, ts, tsx]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, ts, tsx, json, yaml]
        exclude: ^legacy/
        args: [--ignore-path=.prettierignore]
