repos:
  - repo: local
    hooks:
      - id: wikilink-to-md
        name: Convert wikilinks
        entry: python scripts/convert_wikilinks.py
        language: system
        files: '\.md$'
      - id: add-tags-ollama
        name: Append tags with ollama
        entry: python scripts/add_tags_ollama.py
        language: system
        pass_filenames: false
