repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, ts, tsx, json, yaml]
        exclude: ^legacy/
        args: [--ignore-path=.prettierignore]
  - repo: local
    hooks:
      - id: piper-build
        name: Ensure Piper build Succeeds
        entry: pnpm --filter @promethean/piper build
        language: system
        pass_filenames: false
      # - id: gen-ecosystem
      #   name: Generate ecosystem config
      #   entry: pnpm gen:ecosystem
      #   language: system
      #   pass_filenames: false
      # # - id: generate-layer-images
      # #   name: Generate missing layer images
      # #   entry: bash -lc 'pnpm --filter @promethean/image-link-generator run build && pnpm tsx scripts/generate-layer-images.ts'
      # #   language: system
      # #   pass_filenames: false
      # - id: eslint-diff
      #   name: ESLint on diff from main
      #   entry: pnpm exec eslint --cache --pass-on-no-patterns
      #   language: system
      # - id: eslint-diff
      #   name: ESLint on diff from main
      #   entry: pnpm --cache lint
      #   language: system
