services:
  sonarqube:
    image: sonarqube:25.8.0.112029-community
    container_name: sonarqube
    ports: ["9000:9000"]
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_logs:/opt/sonarqube/logs
      - sonarqube_extensions:/opt/sonarqube/extensions
    restart: always
  chromadb:
    image: chromadb/chroma
    restart: always
    volumes:
      - ./data/chroma:/index_data
    ports:
      - 8000:8000
  ollama:
    image: ollama/ollama:0.11.8
    restart: always
    ports: ["127.0.0.1:11434:11434"]
    gpus: all
    volumes:
      - /usr/share/ollama/.ollama/models:/root/.ollama/models
    environment:
      OLLAMA_HOST: "0.0.0.0:11434"
      OLLAMA_DEBUG: "INFO"
      OLLAMA_LLM_LIBRARY: "cublas"
    healthcheck:
      test:
        [
          "CMD",
          "bash",
          "-lc",
          "curl -fsS http://127.0.0.1:11434/api/tags >/dev/null && nvidia-smi >/dev/null 2>&1",
        ]
      interval: 10s
      timeout: 5s
      retries: 6

volumes:
  sonarqube_data:
  sonarqube_logs:
  sonarqube_extensions:
