[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
python-dotenv = "*"
httpx = "*"
pytest = "*"
pytest-asyncio = "*"
numpy = "*"
uvicorn = "*"
websockets = "*"
towncrier = "*"

[requires]
python_version = "3.12"
