{:source-paths ["packages/promethean-cli/src"]
 :builds
 {:promethean-cli
  {:target :node-script
   :main promethean.cli.core/-main
   :output-to "packages/promethean-cli/dist/promethean_cli.cjs"
   :compiler-options {:infer-externs :auto
                      :source-map true}}}}
