{:mcp-servers
 {:github
  {:command "/home/err/devel/promethean/scripts/mcp/bin/github.sh"
   :cwd "/home/err/devel/promethean"}

  :github-chat
  {:command "/home/err/devel/promethean/scripts/mcp/bin/github_chat.sh"
   :cwd "/home/err/devel/promethean"}

  :sonarqube
  {:command "/home/err/devel/promethean/scripts/mcp/bin/sonarqube.sh"
   :cwd "/home/err/devel/promethean"}

  :file-system
  {:command "/home/err/devel/promethean/scripts/mcp/bin/filesystem.sh"
   :cwd "/home/err/devel/promethean"}

  :obsidian
  {:command "/home/err/devel/promethean/scripts/mcp/bin/obsidian.sh"
   :cwd "/home/err/devel/promethean"}

  :duckduckgo
  {:command "/home/err/devel/promethean/scripts/mcp/bin/duck.sh"
   :cwd "/home/err/devel/promethean"}

  :npm-helper
  {:command "npx"
   :args ["-y" "@pinkpixel/npm-helper-mcp"]
   :cwd "/home/err/devel/promethean"}

  :ts-ls-lsp
  {:command "npx"
   :args ["tritlo/lsp-mcp"
          "typescript"
          "/home/err/.volta/bin/typescript-language-server"
          "--stdio"]
   :cwd "/home/err/devel/promethean"}

  ;; compatibility alias for older configs
  :lsp-mcp
  {:command "npx"
   :args ["tritlo/lsp-mcp"
          "typescript"
          "/home/err/.volta/bin/typescript-language-server"
          "--stdio"]
   :cwd "/home/err/devel/promethean"}

  ;; :sonarlint-lsp
  ;; {:command "npx"
  ;;  :args ["tritlo/lsp-mcp"
  ;;         "typescript"
  ;;         "/home/err/.volta/bin/typescript-language-server"
  ;;         "--stdio"]}

  :haiku-rag
  {:command "uvx"
   :args ["haiku-rag"
          "serve"
          "--stdio"
          "--db" "/home/err/.local/share/haiku-rag/db"]
   :cwd "/home/err/devel/promethean"}

  :backseat-driver
  {:command "/home/err/.config/calva/backseat-driver/calva-mcp-server.js"
   :args ["1664"]
   :cwd "/home/err/.config/calva/backseat-driver"}}

 :outputs
 [{:schema :codex.toml  :path "/home/err/.codex/config.toml"}
  ;; {:schema :codex.json  :path "out/codex.json"}
  {:schema :vscode.json :path "/home/err/.config/User/mcp.json"
   :opts {:include-inputs? true}}
  ;; codex json is just th wrong way to describe this schema.
  ;; but codium/windsurf expects this format, so...
  ;; This is more like claud.json, since this is how they did it, and they started this whole
  ;; MCP craze
  ;; Wind Surf
  {:schema :codex.json :path "/home/err/.codeium/windsurf/mcp_config.json"}
  ;; Oterm
  {:schema :codex.json :path "/home/err/.local/share/oterm/config.json"}

  ;; Emacs MCP package
  {:schema :elisp       :path "/home/err/devel/promethean/.emacs/layers/llm/config.el"}]}
