{:aliases
 {:mcp
  {:deps {org.slf4j/slf4j-nop {:mvn/version "2.0.16"} ;; Required for stdio server
          com.bhauman/clojure-mcp {:git/url "https://github.com/bhauman/clojure-mcp.git"
                                   :git/tag "v0.1.11-alpha"
                                   :git/sha "7739dba"}}
   :exec-fn clojure-mcp.main/start-mcp-server
   :exec-args {:port 7888}}
  
  :mcp-shadow-dual
  {:deps {org.slf4j/slf4j-nop {:mvn/version "2.0.16"}
          com.bhauman/clojure-mcp {:git/url "https://github.com/bhauman/clojure-mcp.git"
                                   :git/tag "v0.1.11-alpha"
                                   :git/sha "7739dba"}}
   :exec-fn clojure-mcp.main-examples.shadow-main/start-mcp-server
   :exec-args {:port 7888 :shadow-port 9000 :shadow-build "app"}}
  
  :nrepl
  {:extra-paths ["test"]
   :extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}}
   :jvm-opts ["-Djdk.attach.allowAttachSelf"]
   :main-opts ["-m" "nrepl.cmdline" "--port" "7888"]}}}