name: Linter
permissions:
  contents: read

on:
  pull_request:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install system dependencies
        run: make system-deps

      - uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('Pipfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Cache npm dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Install dependencies
        run: make install

      - name: Install lint dependencies
        run: python -m pip install flake8 pre-commit

      - name: Build project
        run: make build

      - name: Pre-commit
        run: pre-commit run --files $(git ls-files | tr '\n' ' ')

      - name: Lint
        run: make lint

      - name: Typecheck Python
        run: make typecheck-python

      - name: Typecheck TypeScript
        run: make typecheck-ts

      # - name: Format
      #   run: make format
