name: build-play-clj-image
on:
  push:
    paths:
      - .github/images/play-clj/**

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          context: .github/images/play-clj
          push: true
          tags: ghcr.io/riatzukiza/play-clj:latest
          cache-from: type=registry,ref=ghcr.io/riatzukiza/play-clj:cache
          cache-to: type=registry,ref=ghcr.io/riatzukiza/play-clj:cache,mode=max
