name: Integration and E2E Tests
permissions:
  contents: read

on:
  pull_request:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: make system-deps setup-python
      - name: Run integration tests
        run: make test-integration
      - name: Run end-to-end tests
        run: make test-e2e
